// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

.h1__title{
    font-family: Arial, Helvetica, sans-serif;
    color: #77dd77;
    text-align: center;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    .serie__title {
        font-family: Arial, Helvetica, sans-serif;
        color: #84b6f4;
    }
}

img {
    width: 150px;
}

.js-liElements {
    list-style: none;
}

